@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
body{
    padding: 1% 2%;
    background: rgba(250, 189, 59, 0.062);
    height: 97vh;
}
@media only screen and (max-width: 684px) {
    body{
       padding: 0px;
        height: 98vh;
    }
}