@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.menu_navegacao{
    height: 7vh;
    color: #2F1F00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.menu__central{
    width: 45vw;
    display: flex;
    justify-content: space-around;
    font-family: 'Modern Antiqua', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
    cursor: pointer;
}

.menu__nome{
    font-family: 'Licorice', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 6vh;
    cursor: pointer;
}

.menu__icon{
    transform: scale(1.5);
    cursor: pointer;
    z-index: 2;
}

.menu__lateral{
    width: 6vw;
    height: 25vh;
    position: absolute;
    right: 1.5%;
    top: 8%;
    background: #f8eac400;
    border: 2px solid #2F1F00;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.logo{
    height: 30px;
    width: 30px;
}

.logo:hover{
    height: 35px;
    width: 35px;
}

.mobile{
    display: none;
}

.padding-top-7vh{
    padding-top: 7vh;
}

@media only screen and (max-width: 684px) {
    .desktop{
        display: none;
    }
    .mobile{
        height: 100vh;
        width: 100vw;
        display: flex;
        color: #2F1F00;
    }
    .menu__icon_mobile{
        transform: scale(1.5);
        cursor: pointer;
        z-index: 2;
        position: absolute;
        top: 3vh;
        left: 4vw;
    }
    .menu_navegacao_mobile{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .menu__nome{
        font-size: 6vh;
        padding-bottom: 8vh;
        padding-top: 2vh;
    }
    .menu__central{
        flex-direction: column;
        font-size: 3vh;
    }

    .menu__lateral_mobile{
        width: 100vw;
        display: flex;
        position: absolute;
        top: 93vh;
        justify-content: space-around;
    }
    .logo{
        height: 40px;
        width: 40px;
    }
    
    .logo:hover{
        height: 40px;
        width: 40px;
    }

}